In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("Instagram_Analytics.csv")

In [5]:
data.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22.954916,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22.954916,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22.954916,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22.954916,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22.954916,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

In [6]:
#Extract video data - duration, likes, shares, completion rates, saves, restacks
cols = [
    "upload_date",
    "media_type",
    "likes",
    "shares",
    "saves",
    "engagement_rate"
]

data_selected = data.loc[:, cols]
data_selected

,upload_date,media_type,likes,shares,saves,engagement_rate
0,2024-11-30 09:25:22.954916,Reel,31627,4530,6393,4.97
1,2025-08-15 09:25:22.954916,Photo,63206,1680,6809,5.59
2,2025-09-11 09:25:22.954916,Reel,94373,1761,8367,8.29
3,2025-09-18 09:25:22.954916,Reel,172053,2875,9290,21.32
4,2025-03-21 09:25:22.954916,Video,99646,4444,9746,23.52
...,...,...,...,...,...,...
29994,2024-12-18 09:25:22.954916,Video,46046,3847,11095,8.45
29995,2025-05-05 09:25:22.954916,Carousel,67711,458,12380,3.78
29996,2025-05-26 09:25:22.954916,Photo,52326,3687,7619,2.90
29997,2025-08-02 09:25:22.954916,Carousel,158113,2573,6329,8.64
29998,2025-04-15 09:25:22.954916,Photo,76368,4603,11715,5.02

In [7]:
data_selected.to_csv("processed_user.csv", index=False)